{% extends 'base.html' %}
{% load static%}

{% block content %}
<!-- index.html content starts here -->
<img id="roomImage" src="" alt="Room Image">
<h1>Book a Room</h1>
<form method="POST" action="{% url 'bookings' %}">
    {% csrf_token %}
    <label for="room">Select Room:</label>
    <select name="room" id="room">
        <option value="" selected disabled>Select a room</option> <!-- Placeholder option -->
        {% for room in rooms %}
            <option value="{{ room.id }}" data-image-url="{{ room.image_url }}">{{ room.name }}</option>
        {% endfor %}
    </select>
    <br><br>
    <label for="start_time">Start Time:</label>
    <input type="datetime-local" name="start_time" id="start_time"><br><br>
    <label for="end_time">End Time:</label>
    <input type="datetime-local" name="end_time" id="end_time"><br><br>
    <button type="submit">Book Room</button>
</form>
{% block scripts %}
<script src="{% static 'js/booking.js' %}"></script>
{% endblock %}
<!-- index.html content ends here -->
{% endblock %}
