{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="delete-container">
    <h2 class="delete-title">Confirmar Exclusão</h2>
    <p class="delete-message">Tem certeza de que deseja excluir a reserva para {{ booking.room.name }} de {{ booking.start_time }} até {{ booking.end_time }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a href="{% url 'user_bookings' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}