{% extends "base.html" %}

{% block title %}My Bookings{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4">My Bookings</h1>
    {% if bookings %}
        <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for booking in bookings %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ booking.room.name }}</h5>
                        <p class="card-text mb-1">Date: {{ booking.start_time|date:"F d, Y" }} to {{ booking.end_time|date:"F d, Y" }}</p>
                        <p class="card-text mb-3">Total Price: £{{ booking.total_price }}</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a href="{% url 'change_booking' booking.pk %}" class="btn btn-warning me-md-2 mb-2 mb-md-0">Change</a>
                            <a href="{% url 'delete_booking' booking.pk %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>No bookings found.</p>
    {% endif %}
</div>

    {% if editing %}
    <div class="mt-4">
        <h2>Edit Booking</h2>
        <form method="post" action="{% url 'change_booking' booking_to_edit.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Save changes</button>
            <a href="{% url 'user_bookings' %}" class="btn btn-secondary ms-2">Cancel</a>
        </form>
    </div>
    {% endif %}

    {% if deleting %}
    <div class="mt-4">
        <h2>Confirm Delete</h2>
        <p class="mb-4">Are you sure you want to delete the booking for {{ booking_to_delete.room.name }} from {{ booking_to_delete.start_time|date:"F d, Y" }} to {{ booking_to_delete.end_time|date:"F d, Y" }}?</p>
        <form method="post" action="{% url 'delete_booking' booking_to_delete.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'user_bookings' %}" class="btn btn-secondary ms-2">Cancel</a>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}