{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- slide-->
<div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/bc/6a/c0/jericoacoara-ou-jeri.jpg?w=1200&h=1200&s=1" class="d-block w-50 mx-auto" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/10/2e/d9/jericoacoara.jpg?w=1200&h=-1&s=1" class="d-block w-50 mx-auto" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/31456806.jpg?k=a0e56c436e46b853442c536cc1c84b314a4d4ec5b287d0bfc68260fc00546309&o=&hp=1" class="d-block w-50 mx-auto" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="#" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- Reviews section -->
<div class="container">
  <h2>Reviews</h2>
  <div id="carouselReviews" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
          {% for review in reviews %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">{{ review.user.username }}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{ review.rating }} stars</h6>
                      <p class="card-text">{{ review.comment }}</p>
                      <p class="card-text"><small class="text-muted">{{ review.created_at }}</small></p>
                  </div>
              </div>
          </div>
          {% empty %}
          <p>Nenhum review disponível.</p>
          {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselReviews" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselReviews" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
</div>

<!-- Card Containers -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="image-container">
          <img src="{% static 'image/room.PNG' %}" class="card-img-top custom-card-img" alt="Luxury Rooms">
        </div>
        <div class="card-body">
          <h5 class="card-title">Luxury Rooms</h5>
          <p class="card-text">Experience the height of luxury in our exclusive rooms, featuring stunning decor, state-of-the-art amenities, and breathtaking views.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="image-container">
          <img src="{% static 'image/beach.PNG' %}" class="card-img-top custom-card-img" alt="Maragogi Beaches">
        </div>
        <div class="card-body">
          <h5 class="card-title">Maragogi Beaches</h5>
          <p class="card-text">Discover the pristine beaches of Maragogi, where turquoise waters meet white sands, creating a perfect paradise for relaxation and adventure.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="image-container">
          <img src="{% static 'image/resaurant.PNG' %}" class="card-img-top custom-card-img" alt="Local Cuisine">
        </div>
        <div class="card-body">
          <h5 class="card-title">Local Cuisine</h5>
          <p class="card-text">Savor the rich flavors of our local cuisine, with dishes that highlight the freshest ingredients and traditional recipes of the region.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- index.html content ends here -->
{% endblock %}